* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0e8e8;

}

.store {
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.navigation > a {
    text-decoration: none;
    padding: 8px;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0px 5px;
}

.navigation > a:hover {
    background-color: red;
}

.home-page > h1 {
    text-align: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    max-width: 300px;
    max-height: 500px;
}

.product-img {
    max-width: 200px;
    max-height: 200px;
}