* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.store {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.navigation {
    display: flex;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 10px;
}

.navigation-left,
.navigation-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.navigation-left {
    justify-content: start;
}

.navigation-right {
    justify-content: end;
}

.nav-btn {
    color: black;
    padding: 16px;
    font-size: 26px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.home-page>h1,
.all-products-page>h1,
.categories-page>h1 {
    text-align: center;
    margin: 10px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    max-width: 250px;
    max-height: 350px;
}

.card-container-buttons {
    display: flex;
}

.product-img {
    max-width: 200px;
    height: 170px;
}

.product-title {
    height: 44px;
}

.product-category,
.product-price {
    padding: 5px;
    min-width: 280px;
}

.details-btn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 18px;
    padding: 10px;
    margin: 0px 5px;
}

.add-to-cart-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 18px;
    padding: 10px;
    margin: 0px 5px;
}

.details-card {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    width: 80%;
    margin: 100px auto;
}

.details-card-img {
    max-width: 450px;
    padding: 50px;
}

.details-card-info {
    padding: 50px;
}

.details-card-category {
    text-transform: uppercase;
}

.details-card-title {
    margin: 10px 0;
}

.details-card-rating {
    font-size: 1.2rem;
    line-height: 1.5;
}

.fa-star {
    color: #ffc800;
}

.details-card-price {
    font-weight: 700;
    margin: 20px 0;
}

.details-card-description {
    border-bottom: 1px solid black;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
}

.details-cart-back-btn {
    float: right;
    margin: 15px 0px;
    text-decoration: none;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 15% auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-item {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-item>input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 22px;
}

.all-products-sort-item,
.categories-select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
}

.categories-select>label {
    padding: 10px;
}

.all-products-sort-item>button {
    margin: 10px;
    padding: 8px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
}

.not-found-product {
    padding: 50px;
}

.login-form {
    border: 1px solid black;
    text-align: center;
    border-radius: 12px;
    margin: 50px auto;
    padding: 50px 20px;
    width: 30%;
}

.login-form>p {
    padding-top: 10px;
    text-align: center;
}

.form-input {
    padding: 6px;
    font-size: 1.2rem;
}

.form-button {
    padding: 10px 30px;
    margin: 10px 0px;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
}

.cart-no-products {
    border: 1px solid black;
    text-align: center;
    padding: 200px 100px;
    margin: 50px 0px;
    height: 200px;
}

.cart-no-products>h2,
.cart-no-products>p {
    padding: 5px 0px;
}

.countinue-shoping {
    display: flex;
    width: 10%;
    justify-content: center;
    margin: 10px auto;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px;
}

.selected-product-cart {
    display: flex;
    align-items: center;
    margin: 10px auto;
    border: 1px solid black;
    padding: 0px 100px;
}

.cart {
    cursor: pointer;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 2px 6px;
    background-color: red;
    color: white;
    font-weight: bolx;
    border-radius: 32px;
    position: relative;
    top: -15px;
    right: 15px;
}

.cart-box-item {
    margin-top: 20px;
    border: 1px solid black;
}

.cart_box {
    width: 75%;
    margin: 0 auto;
}

.cart_box img {
    width: 100px;
    height: 100px;
}

.cart_img {
    display: flex;
    width: 400px;
}

.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}

.cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.cart-amount {    
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid black;
    background-color: white;
}

.cart-add {
    border-radius: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 5px 6px;
    font-weight: bold;
    margin-right: 5px;
}

.fa-trash {
    font-size: 1.6rem;
}

.cart_box div:nth-child(3) button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.cart_box div:nth-child(3) button:hover {
    background-color: red;
}

.cart_box div:nth-child(3) span {
    padding: 2px 10px;
    border-bottom: 2px solid black;
    margin-right: 10px;
}

.total {
    display: flex;
    justify-content: right;
    width: 75%;
    margin: 15px auto;
}

.total span:nth-child(1) {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    padding-right: 10px;
}

.total span:nth-child(2) {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.home-page,
.all-products-page,
.categories-page,
.login-form,
.cart-no-products,
.cart-article {
    padding-bottom: 100px;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 10% 0px 0px 0px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid black;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin: 0px 10px;
}

footer ul li a {
    border-left: 3px solid black;
    padding: 10px 0px 0px 24px;
}

.fa-brands {
    font-size: 30px;
    color: black;
} 
 
.icon-fakestoreapi {
    height: 26px;
    margin-top: 4px;
}