* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0e8e8;
    
}

.store {
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    background-color: #2fcc68;
    padding: 10px;
}

.nav-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.navigation>a:hover {    
    background-color: #61f196;
}

.home-page>h1 {
    text-align: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    margin: 30px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    max-width: 250px;
    max-height: 350px;
}

.product-img {
    max-width: 200px;
    max-height: 200px;
}

.all-products-page>h1 {
    text-align: center;
}

.product-footer {
    width: 280px;
    height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.product-category {
    padding: 50px 0px 0px 10px;
}

.product-price {
    padding: 50px 10px 0px 10px;
}

.details-card {
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    width: 80%;
    margin: 100px auto;
}

.details-card-img {
    max-width: 450px;
    padding: 100px;
}

.details-card-info {
    text-align: center;
    padding: 200px 100px;
}

.details-card-title,
.details-card-category,
.details-card-description,
.details-card-price {
    padding: 5px 0px;
}

.categories-page {
    background-color: white;
}
.categories-page>h1 {
    text-align: center;
}