.payment-mehod-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 22%;
    bottom: 0px;
    left: 37%;
    right: 0;
    width: 30%;
    height: 450px;
}

.payment-form {
    width: 90vw;
    max-width: 20em;
}

.payment-button {
    margin: 50px auto;
    padding: 14px;
    border: 1px solid black;
    border-radius: 27px;
}

.payment-input {
    border: 1px solid;
    padding: 0.3em;
    width: 100%;
}

.payment-input {
    display: block;
    font-size: 1.2rem;
    margin: 10px auto;
}

.date-code {
    display: flex;
    margin: 0 -1em;
}

.date-code div {
    margin: 0 1em;
}

.close-btn {
    position: absolute;
    top: 10px;
    color: red;
    right: 10px;
}